body {
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#header {
    padding: 16px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 6px;
    margin-bottom: 32px;
}

.tab {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.tab:hover {
    background-color: #000;
    cursor: pointer;
}

.active {
    background-color: #000;
}

.page-header,
.home-desc,
.contact-number-address {
    flex: 1;
    text-align: center;
    width: 40vw;
}

#content,
.home-page,
.contact-page,
.menu-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-grid {
    display: grid;
    width: 600px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    border-radius: 6px;
    gap: 20px;
}

.menu-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 250px;
    padding: 20px;
    text-align: center;
    border: 2px solid lightgray;
}

.menu-block:hover {
    background-color: lightgray;
    text-decoration: none;
    cursor: pointer;
}

.menu-image {
    width: 80px;
}

.banner {
    border-radius: 6px;
    width: 600px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    margin-top: 64px;
}