body {
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    padding: 0;
    margin: 0;
}

img {
    width: 24px;
    height: 24px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    "header header"
    "sidebar main-content";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 16px;
    font-weight: bold;
    background-color: #112D4E;
    color: #F9F7F7;
    padding: 20px 48px 20px 48px;
    align-items: center;
}

.header-logo-container {
    display: flex;
    align-items: center;
}

.header img,
.sidebar img {
    filter: invert(98%) sepia(4%) saturate(30%) hue-rotate(354deg) brightness(113%) contrast(94%);
}

.header img {
    width: 48px;
    height: 48px;
}

.header-logo-name {
    font-size: 24px;
    margin-left: 10px; 
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.add-todo-general {
    margin-right: 10px; 
}

.sidebar {
    background-color: #3F72AF;
    color: #F9F7F7;
    padding: 20px;
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 240px 240px;
    gap: 50px;
    font-weight: bold;
}

.sidebar-logo,
.sidebar-menu-main,
.sidebar-menu-projects {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 16px;
    align-items: center;
    justify-items: center;
}

.inbox-container,
.today-container,
.project-container,
.add-project-container {
    justify-self: start;
    font-size: 20px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    margin-top: 64px;
}