body {
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    padding: 0;
    margin: 0;
}

img {
    width: 24px;
    height: 24px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 5vh 91vh 4vh;
    grid-template-columns: 310px 5fr;
    grid-template-areas: 
    "header header"
    "sidebar main-content"
    "sidebar footer";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 4fr 1fr;
    font-weight: bold;
    background-color: #112D4E;
    color: white;
    padding: 0 48px 0 48px;
    align-items: center;
}

.header-logo-container {
    display: flex;
    align-items: center;
}

.header img,
.sidebar img {
    filter: invert(99%) sepia(3%) saturate(89%) hue-rotate(197deg) brightness(111%) contrast(100%);
}

.header-logo-name {
    font-size: 16px;
    margin-left: 10px; 
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.add-todo-general {
    margin-right: 20px; 
}

.sidebar {
    background-color: #3F72AF;
    color: white;
    padding: 20px 30px 20px 30px;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
}

.inbox-container,
.today-container,
.project-container,
.add-project-container  {
    display: flex;
    align-items: center;
    padding: 10px;
}

.add-project-container {
    margin: 10px 0 10px 0;
}

.inbox-name,
.today-name,
.project-name,
.add-project-name {
    justify-self: start;
    font-size: 14px;
    margin-left: 10px;
}

.main-content {
    background-color: #F9F7F7;
    grid-area: main-content;
    display: flex;
    padding: 48px;
}

.main-content h1 {
    margin-top: 0;
}

.todo-container {
    width: 1000px;
}

.single-todo-container,
.add-todo-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.add-todo-container {
    margin: 10px 0 10px 0;
}

.single-todo-name,
.add-todo-name {
    justify-self: start;
    font-size: 14px;
    margin-left: 10px;
}

.inbox-container:hover,
.today-container:hover,
.project-container:hover,
.add-project-container:hover,
.single-todo-container:hover,
.add-todo-container:hover {
    border-radius: 4px;
    background-color: darkgray;
    cursor: pointer;
}

/* Pop Up Form Reference: https://www.w3schools.com/howto/howto_js_popup_form.asp */

/* The popup form - hidden by default */
.form-project-popup {
    display: none;
    border: 3px solid #F9F7F7;
    border-radius: 4px;
}

/* Add styles to the form container */
.form-project-container {
    padding: 10px;
    background-color: #F9F7F7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "label label" 
    "input input"
    "add cancel";
}

.form-project-container label {
    margin-bottom: 10px;
    color: black;
    font-size: 14px;
}

/* Full-width input fields */
.form-project-container input[type=text] {
    padding: 16px;
    margin-bottom: 10px;
    border: none;
    background: #DBE2EF;
    border-radius: 4px;
    grid-area: input;
    opacity: 0.8;
}
  
  /* When the inputs get focus, do something */
.form-project-container input[type=text]:focus {
    opacity: 1;
    outline: none;
}
  
  /* Set a style for the submit/login button */
.form-project-container .btn,
.form-project-container .btn-cancel {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 4px;
}
  
/* Add a red background color to the cancel button */
.form-project-container .btn {
    grid-area: add;
    margin-right: 5px;
}
  /* Add a red background color to the cancel button */
.form-project-container .btn-cancel {
    background-color: red;
    grid-area: cancel;
    margin-left: 5px;
}
  
  /* Add some hover effects to buttons */
.form-project-container button:hover {
    opacity: 1;
}

.footer {
    background-color: #F9F7F7;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}